@tailwind base;
@tailwind components;
@tailwind utilities;

body {

  margin: 0;
  padding: 0;
  background: black;
  color: white;
  font-family: sans-serif;
}

::-webkit-scrollbar {

  width: 8px;
}

::-webkit-scrollbar-thumb {

  background: #444;
  border-radius: 20px;
}